USE [master]
GO
/****** Object:  Database [Wickets]    Script Date: 8/7/2021 7:48:35 AM ******/
CREATE DATABASE [Wickets]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Wickets', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Wickets.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Wickets_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Wickets_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Wickets].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Wickets]
GO
/****** Object:  Table [dbo].[Test_bowlers]    Script Date: 8/7/2021 7:48:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test_bowlers](
	[Player] [nvarchar](50) NOT NULL,
	[Span] [nvarchar](50) NOT NULL,
	[Mat] [int] NOT NULL,
	[Inns] [int] NOT NULL,
	[Balls] [int] NOT NULL,
	[Runs] [int] NOT NULL,
	[Wkts] [int] NOT NULL,
	[BBI] [nvarchar](50) NOT NULL,
	[BBM] [nvarchar](50) NOT NULL,
	[Ave] [float] NOT NULL,
	[Econ] [float] NOT NULL,
	[SR] [float] NOT NULL,
	[_5] [int] NOT NULL,
	[_10] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
